*{
    font-family: 'Roboto Slab', serif;
}

body{
    margin: 0;
}

header {
    width: 100%;
    height: 50px;
    background-color: #272829;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

#title{
    color: #ffffff;
    font-size: 1.5rem;
    padding-left: 30px;
}

nav {
    width: 100%;
    max-width: 400px;
    height: 50px;
    /* margin: auto auto; */
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    min-width: 200px;
}

nav > ul > li {
    color: #ffffff;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
    font-size: 1.5rem;
}

nav > ul > li:hover {
    background-color: #D8D9DA;
    color: #1b1b32;
    cursor: pointer;
}

li > a {
    color: inherit;
    text-decoration: none;
}

#img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    padding-left: 30px;
    padding-right: 30px;
}

#quotes, #name {
    /* font-size: 1rem; */
    min-width: 100px;
    text-align: justify;
}

#img-caption, #img {
    flex: 1;
    margin: 20px;
}

#img #image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}

#tribute-info{
    width: 100%;
    background-color: #272829;
    margin:0;
    /* padding: 0 10px; */
}

#tribute-info h1{
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 20px auto 10px auto;
}

#tribute-info p{
    color: #ffffff;
    text-align: justify;
    padding: 1vh 20vw 4vh 20vw;
    margin: 0;
    font-size: 1.2em;
}

hr{
    border: 1px solid white;
    width: 50vw;
}

#tribute-link{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#link h1{
    text-align: center;
    margin: 0;
}

#link p{
    text-align: center;
    margin-bottom: 25px;
}

.btn{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 1.1em;
}

footer{
    width: 100%;
    background-color: #272829;
    color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ftr-info{
    width: 75%;
    padding-left: 10px;
}

#ftr-create{
    width: 25%;
    text-align: right;
    padding-right: 10px;
}

/* Media query for smaller screens (e.g., smartphones) */
@media only screen and (max-width: 600px) {

    #title, nav > ul > li, h1{
        font-size: 1rem;
    }

    #img-div {
        flex-direction: column;
        align-items: center;
    }

    #img-caption,
    #image {
        width: 100%;
    }
    
    #quotes, #name{
        font-size: 1.5rem;
        text-align: justify;
        margin: 20px 20px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    #ftr-info, #ftr-create {
        width: 100%;
        margin-bottom: 20px; /* Optional: Add some space between the divs on smaller screens */
        padding-left: 20px;
    }
}